{% macro card(pendency) %}
<div class="card w-full bg-neutral text-neutral-content">
  <div class="card-body items-center text-center">
    <h2 class="card-title">
      {{ pendency.type.name }} - {{ pendency.due_date.strftime("%d/%m/%Y") }}
    </h2>
    <p>{{ pendency.description }}</p>
    <p>
      <a
        href="{{ url_for('patient.profile', ghc=pendency.patient.ghc) }}"
        class="btn btn-accent"
      >
        <i data-lucide="circle-user"></i>
        {{ pendency.patient.name }} - {{ pendency.patient.ghc }}
      </a>
    </p>
    <div class="card-actions justify-end mt-3">
      <button class="btn btn-primary">
        <i data-lucide="party-popper"></i>
        Compareceu
      </button>
      <button class="btn btn-error">
        <i data-lucide="x"></i>
        Não Compareceu
      </button>
    </div>
  </div>
</div>
{% endmacro %}
